@use '../../../../assets/styles/abstract/mixins' as *;

:host {
  width: 100%;
  padding: 2% 0;
  .layout-3-column {
    @include columns(30%);
  }
  row-gap: 2%;

  .pic-wrapper {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .loading {
    margin: auto;
    display: flex;
    justify-content: center;
  }
}
