@use '../../../../assets/styles/abstract/mixins' as *;

:host {
  width: 100%;
  .layout-3-column {
    @include columns(30%);
  }

  .pic-wrapper {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .pic {
    display: inline-block;
    justify-self: center;
    // width: 80%;
    // width="200" height="300"
    width: 90%;
    height: 90%;
  }

  .loading {
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .loading-wrapper {
    width: 100%;
  }
  .button-wrapper {
    margin: 0;
    position: relative;
    bottom: 10%;
    right: -33%;
  }
}
