<main class="main">
  <h1 id="Start">Hello, {{ title }}</h1>
  <p>Congratulations! These are your favourite photos. 🌟</p>
  <mat-divider></mat-divider>

  <section class="container" style="width: 100%">
    <div class="layout-3-column" style="width: 100%">
      <div
        *ngFor="let pic of favoriteList; trackBy: trackByPicId"
        class="pic-wrapper"
        [routerLink]="['/photos', pic.id]">
        <img *ngIf="pic?.url" [src]="pic.url" alt="random picture" class="pic" />
      </div>
    </div>
  </section>
  <section class="button-wrapper">
    <app-button
      FavButtonDirective
      (click)="resetFivorite()"
      [buttonType]="buttonType.favorite"
      buttonClass="card"
      [icon]="iconsMap['favorite']"
      >Reset</app-button
    >
  </section>
</main>
