<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content class="header-container">
    <mat-toolbar color="primary" class="logo">
      <span>The best Gallery</span>
      <!-- For testing icons -->
      <!-- <span class="material-icons">&#xE87C;</span> -->
    </mat-toolbar>
    <mat-toolbar class="button-bar" color="primary">
      <!-- // to do - change icon, add to token -->
      <app-button routerLink="/photos" [buttonType]="buttonType.favorite" buttonClass="card" [icon]="'image'"
        >Photos</app-button
      >
      <app-button
        routerLink="/favorites"
        [buttonType]="buttonType.favorite"
        buttonClass="card"
        [icon]="iconsMap['favorite']"
        >Favorites</app-button
      >
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
