@use '../../../../assets/styles/abstract/mixins' as *;

:host {
  section {
    margin: 0 auto;
  }

  .pic-wrapper {
    margin: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .pic {
    display: inline;
    justify-self: center;
    width: 80%;
  }

  .button-wrapper {
    margin: auto;
    display: flex;
    justify-content: center;
  }
}
