<div class="layout-3-column" style="width: 100%" appScrollNearEnd>
  <div *ngFor="let pic of favSignal(); trackBy: trackByFn" class="pic-wrapper">
    <!-- <img [src]="pic.url" alt="random picture" class="pic" />
    <p>{{ pic.index }}</p> -->
    <app-button [buttonType]="buttonType.fab" buttonClass="card" [icon]="iconsMap['favorite']">to Favorite</app-button>
  </div>
</div>
<!-- <section style="height: 150px; width: 100%">
  @if (isLoading) {
    <div class="loading-wrapper"></div>
    <div class="loading">
      h2>Nothing to show ... </h2>
    </div>
  }
</section> -->
