<!-- <div
  appScrollNearEnd
  (nearEnd)="onNearEndScroll()"
  [dataSource]="dataSourceSignal()"
  [trackBy]="identity"
> -->
<div class="layout-3-column" style="width: 100%" appScrollNearEnd (nearEnd)="onNearEndScroll()">
  <div *ngFor="let pic of picSignal()" class="pic-wrapper">
    <img [src]="pic.url" alt="" class="pic" />
    <p>{{ pic.index }}</p>
    <button mat-fab class="fab-button" (click)="getScreenArraySignal()" style="cursor: pointer">
      <mat-icon>favorite</mat-icon>
    </button>
  </div>
</div>
<section style="height: 150px; width: 100%">
  @if (isLoading) {
    <div class="loading-wrapper"></div>
    <div class="loading">
      <mat-spinner></mat-spinner>
    </div>
  }
</section>
