@use '@angular/material' as mat;
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* You can add global styles to this file, and also import other style files */

/*
You chave to add in angular.json
projects > your-project-name > architect > build > options > and after styles{},

  "styles": ["@angular/material/prebuilt-themes/deeppurple-amber.css", "src/styles.scss"],
  "stylePreprocessorOptions": {
    "includePaths": [
      "src/assets/styles/abstract/mixins",
      "src/assets/styles/abstract/constants",
      "src/assets/styles/abstract/placeholders",
      "src/assets/styles/base/base"
    ]
  },

And into component you need ti point to the right path, like this:
@use '../../../../assets/styles/abstract/mixins' as *;

*/
// @use 'app/styles/abstract/constants' as *;
@use './assets/styles/abstract/constants' as *;
// @use 'app/styles/abstract/mixins' as *;
@use './assets/styles/abstract/mixins' as *;
// @use 'app/styles/abstract/placeholders' as *;
@use './assets/styles/abstract/placeholders' as *;
// @use 'app/styles/base/base' as *;
@use './assets/styles/base/base' as *;

html,
body {
  height: 100%;
}
html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: (
        primary: mat.$magenta-palette,
        tertiary: mat.$cyan-palette,
        theme-type: dark,
      ),
      typography: (
        plain-family: Roboto,
        brand-family: Open Sans,
        bold-weight: 900,
        medium-weight: 500,
        regular-weight: 300,
      ),
      density: 0,
    )
  );
}
body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  margin: 0;
  padding: 0;
  height: 100%;
}
//  https://material.angular.io/guide/theming
// $red-palette
// $green-palette
// $blue-palette
// $yellow-palette
// $cyan-palette
// $magenta-palette
// $orange-palette
// $chartreuse-palette
// $spring-green-palette
// $azure-palette
// $violet-palette
// $rose-palette
