/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html,
body {
  height: 100%;
}
html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: (
        // primary: mat.$violet-palette,
        // tertiary: mat.$orange-palette,
        primary: mat.$magenta-palette,
        // tertiary: mat.$violet-palette,
        tertiary: mat.$m2-cyan-palette,
        theme-type: dark,
      ),
      // typography: Roboto,
      typography:
        (
          plain-family: Roboto,
          brand-family: Open Sans,
          bold-weight: 900,
          medium-weight: 500,
          regular-weight: 300,
        ),
      density: 0,
    )
  )
}
body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  margin: 0;
  padding: 30px;
  // font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 30px;
  height: 100%;
}

//  https://material.angular.io/guide/theming
// $red-palette
// $green-palette
// $blue-palette
// $yellow-palette
// $cyan-palette
// $magenta-palette
// $orange-palette
// $chartreuse-palette
// $spring-green-palette
// $azure-palette
// $violet-palette
// $rose-palette

